.heading{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 55px;
    background-color: rgba(251,248,249,0.9);
    color:purple;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url("https://images.unsplash.com/photo-1593117048792-82341b21f8ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: burlywood ;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.christmas{
    background-color: rgba(251,248,249,0.82);
    height: 150px;
    width: 100px;
    margin-top: 100px;
    margin-left: 20px;
    border: 2px solid purple;
    border-radius: 10px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: purple;
}
h3{
    font-family:'Montserrat', sans-serif ;
    font-size: 10px;
}
.days, .hours, .minutes, .seconds{
    font-family:'Montserrat', sans-serif  ;
    font-size: 15px;
}
.purple{
    font-size: 40px;
    border: 2px solid purple;
    font-family: 'Otomanopee One', sans-serif;
    color: purple;
}
button{
    margin-top: 20px;
    margin-left: 170px;
    border: 2px solid purple;
    border-radius: 35px;
}
@media all and(max-width:800px){
    h1{
        font-size: 35px;
    }
}
@media all and(max-width:500px){
    h1{
        font-size: 25px;
    }
}